/*#4a6da7 <- cor do site jw.org*/
body {
    background-color: #3b3d5d;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    background-color: #1f2235;
    height: 100px;
}

.container {
    background-color: #1f2235;
    padding: 36px 0 17px 0;
    width: 1170px;
    margin: 0 auto;
}

.menu {
    float: right;
}

.menu a {
    color: #fff;
    background-color: #ff4a57;
    background: #8899aa;

    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
}

.menu a:hover {
    color: #ff4a57;
    background-color: #fff;
}

section {
    width: 1170px;
    margin: 70px auto 0 auto;
    height: 450px;
}

aside {
    height: 400px;
}

.first-child {
    width: 600px;
    float: left;
}

.second-child {
    width: 400px;
    float: right;
}